{% extends "base.html" %}

{% block content %}
<h2>Ваш портфель</h2>

<table border="1">
<tr>
    <th>Актив</th>
    <th>Количество</th>
    <th>Средняя цена</th>
    <th>Текущая цена</th>
    <th>Разница в цене, %</th>
</tr>
{% for item in assets %}
<tr>
    <td><a href="/ui/assets/{{ item.secid }}" class="asset-link">{{ item.name }}</a></td>
    <td>{{ item.quantity }}</td>
    <td>{{ "%.2f"|format(item.avg_price) }}</td>
    <td>{{ item.current_price }}</td>
    <td>{{ "%.2f"|format((item.current_price - item.avg_price) / item.avg_price * 100) }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
