{% extends "base.html" %}

{% block content %}
<h2>My watchlist</h2>

{% if watchlists %}
<table border="1" cellpadding="6">
    <tr>
        <th>Name</th>
        <th>SECID</th>
        <th>Price</th>
    </tr>

    {% for item in watchlists %}
    <tr>
        <td>
            <a href="/ui/assets/{{ item.secid }}" class="asset-link">
                {{ item.name }}
            </a>
        </td>
        <td>{{ item.secid }}</td>
        <td>{{ item.price }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No assets in watchlist.</p>
{% endif %}

{% endblock %}
